@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  /* main color */
  --clr-Marine-blue: hsl(213, 96%, 18%);
  --clr-Purplish-blue: hsl(243, 100%, 62%);
  --clr-Pastel-blue: hsl(228, 100%, 84%);
  --clr-Light-blue: hsl(206, 94%, 87%);
  --clr-Strawberry-red: hsl(354, 84%, 57%);
  /* neutral color*/
  --clr-Cool-gray: hsl(231, 11%, 63%);
  --clr-Light-gray: hsl(229, 24%, 87%);
  --clr-Magnolia: hsl(217, 100%, 97%);
  --clr-Alabaster: hsl(231, 100%, 99%);
  --clr-White: hsl(0, 0%, 100%);
  /* fs paragraph */
  --fs-16: 1.2rem;
  /* font familly */
  --ff-ubuntu: 'Ubuntu', sans-serif;
}

/* normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--ff-ubuntu);
}

img {
  max-width: 100%;
  display: block;
}

/* utilities */
.text-center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.capital {
  text-transform: capitalize;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.mb {
  margin-bottom: 1rem;
}

ul {
  list-style-type: none;
}

/* styling */
body {
  background-color: var(--clr-Magnolia);
}

#root {
  max-width: 100vw;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.aside-container {
  width: 100%;
  height: 200px;
  background-image: url(./assets/images/bg-sidebar-mobile.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  justify-content: center;
  padding-top: 2rem;
}

.aside-container li .circle {
  width: 2.5rem;
  height: 2.5rem;
  line-height: 1.8rem;
  border-radius: 50%;
  border: 1px solid var(--clr-White);
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  color: var(--clr-White);
  padding: calc(2.5rem / 8);
}


.aside-container li.active .circle {
  border-color: var(--clr-Light-blue);
  background-color: var(--clr-Light-blue);
  color: var(--clr-Marine-blue);

}

.circle-text {
  display: none;
}

.form-container {
  width: 90%;
  flex-direction: column;
  position: absolute;
  top: 7.2rem;
  padding: 2.5rem 1.5rem;
  background: var(--clr-White);
  border-radius: 1rem;
  box-shadow: 0 0 6px var(--clr-Cool-gray);
}

.form-container .form-header h1 {
  font-size: 1.5rem;
  color: var(--clr-Marine-blue);
}

.form-container .form-header p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
  color: var(--clr-Cool-gray);
}

.form-container .input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.form-container .input-container p {
  align-self: flex-end;
  margin-bottom: 4px;
  font-size: .8rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--clr-Marine-blue);
}

.form-container .input-container p:nth-child(2) {
  text-align: right;
  font-weight: 700;
  color: var(--clr-Strawberry-red);
}

.form-container .input-container input {
  grid-column: 1/3;
  padding: .8rem 1rem;
  border: 1px solid var(--clr-Light-gray);
  border-radius: 4px;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  color: var(--clr-Marine-blue);
  cursor: pointer;
  transition: border .5s;
}

.form-container .input-container input:focus {
  outline: 1px solid var(--clr-Purplish-blue);
}

.form-container .input-container input:placeholder {
  color: var(--clr-Cool-gray);
  font-weight: 400;
}

.form-container .plan-container,
.form-container .addon-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.form-container .plan-container li,
.form-container .addon-container li {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  border: 1px solid var(--clr-Light-gray);
  background-color: var(--clr-Alabaster);
  padding: 1rem;
  border-radius: 10px;
  transition: border .5s, background .5s;
  cursor: pointer;
}

.form-container .plan-container li:hover,
.form-container .plan-container li.active,
.form-container .addon-container li.active {
  border-color: var(--clr-Purplish-blue);
}

.form-container .plan-container .text-plan h2,
.main-text {
  font-weight: 500;
  color: var(--clr-Marine-blue);
  font-size: 1.1rem;
}

.form-container .plan-container .text-plan p,
.accent-text {
  margin-top: 4px;
  font-size: .9rem;
  color: var(--clr-Cool-gray);
}

.form-container .plan-container .text-plan p:last-child,
.special-text {
  color: var(--clr-Marine-blue);
}

/* plan controle btns */
.form-container .plan-controle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  padding: 1rem 0;
  border-radius: 6px;
  font-size: .9rem;
  font-weight: 500;
  color: var(--clr-Cool-gray);
  background-color: var(--clr-Alabaster);
}

.form-container .plan-controle span.active {
  color: var(--clr-Marine-blue);
}

.form-container .plan-controle label {
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 1.5rem;
}

.form-container .plan-controle label input,
.form-container .addon-container label input {
  opacity: 0;
  width: 0;
  height: 0;
}

.form-container .plan-controle label span {
  position: absolute;
  inset: 0;
  background-color: var(--clr-Marine-blue);
  border-radius: 200rem;
  transition: .4s;
  cursor: pointer;
}

.form-container .plan-controle label span::before {
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: .25rem;
  bottom: .25rem;
  border-radius: 50%;
  background-color: var(--clr-White);
  transition: .4s;
}

.form-container .plan-controle label input[value='on']+span::before {
  transform: translate(1.5rem);
}

/* addon container */
.form-container .addon-container li {
  transition: none;
  align-items: center;
  justify-content: space-between;
}

.form-container .addon-container li label {
  position: relative;
  width: 1.2rem;
  height: 1.2rem;
  pointer-events: none;
}

.form-container .addon-container li input {
  outline: none;
  background: none;
  border: none;
  transform: scale(1.2);
}

.form-container .addon-container li .checkbox .mark {
  position: absolute;
  inset: 0;
  border: 1px solid var(--clr-Light-gray);
  border-radius: 4px;
  transition: background .4s;
}

.form-container .addon-container li .checkbox .mark::after {
  position: absolute;
  content: "";
  opacity: 0;
  left: .35rem;
  top: .18rem;
  width: .25rem;
  height: .48rem;
  border: solid var(--clr-White);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  transition: opacity .4s;
}

.form-container .addon-container li.active .mark {
  background-color: var(--clr-Purplish-blue);
}

.form-container .addon-container li.active .mark::after {
  opacity: 1;
}

.form-container .addon-container li .text-plan:nth-child(2) {
  flex: 1;
}

/* summary container */
.form-container .summary-container {
  padding: 1.5rem;
  border-radius: 12px;
  background-color: var(--clr-Alabaster);
}

.form-container .summary-container .selected-plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-container .summary-container hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.form-container .total-container {
  padding: 1.5rem 2rem;
  color: var(--clr-Cool-gray);
}

/* thank you p */
.form-container .thank-text {
  line-height: 1.5;
  max-width: 22rem;
  padding: 1rem 0;
  margin-inline: auto;
}

/* btn control */
.btn-controle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  margin-top: auto;
  background-color: var(--clr-White);
}

.btn-controle button {
  outline: none;
  border: none;
  background: none;
  font-size: .9rem;
  font-weight: 500;
  transition: background .5s, color .5s;
  cursor: pointer;
}

.btn-controle .next,
.btn-controle .comfirm {
  padding: .8rem 1rem;
  border-radius: 4px;
  color: var(--clr-White);
  background-color: var(--clr-Marine-blue);
}

.btn-controle .comfirm {
  background-color: var(--clr-Purplish-blue)
}

.btn-controle .next:disabled {
  background-color: var(--clr-Cool-gray);
}

.btn-controle button:hover {
  background-color: var(--clr-Pastel-blue);
}

@media (min-width:767px) {
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
  }

  .main-container {
    width: 60rem;
    max-height: 600px;
    background-color: var(--clr-White);
    display: grid;
    grid-template-columns: minmax(25%, 1fr) minmax(65%, 1fr);
    grid-template-rows: 1fr 1fr;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 24px var(--clr-Light-gray);
    ;

  }

  .form-container {
    position: initial;
    box-shadow: none;
  }

  .form-container .form-header h1 {
    font-size: 2rem;
  }

  .btn-controle,
  .form-container {
    width: 80%;
    margin-left: 3rem;
  }

  .aside-container {
    width: 18rem;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    grid-row: 1 / 3;
    background-image: url(./assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    border-radius: 1rem;
  }

  .aside-container li {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    padding-inline: 1rem;
  }

  .aside-container li .circle-text {
    display: block;
  }

  .aside-container li .circle-text p {
    text-transform: uppercase;
    color: hsl(228, 100%, 83%);
    letter-spacing: 1.25px;
    font-size: 1rem;
  }

  .aside-container li .circle-text p:last-child {
    color: var(--clr-White) !important;
    font-weight: bold;
    font-size: .9rem;
    margin-top: .2rem;
  }

  .form-container .plan-container {
    flex-direction: row;
    margin: 2rem 0;
  }

  .form-container .plan-container li {
    flex-direction: column;
    align-items: center;
    width: calc(100% / 3);
  }

  .form-container .plan-container li img {
    width: 3rem;
  }

  .form-container .plan-container .text-plan>* {
    text-align: center;
    margin-bottom: .5rem;
  }

}

.visible {
  visibility: visible;
}

.not-visible {
  visibility: hidden;
}

.hidden {
  display: none;
}

.error {
  outline: 2px solid var(--clr-Strawberry-red);
}